/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 { 
	font-size: 500%;
	color: #9daba6;
}

h2 {
	color: #6f817c;
}

p {
	color: #6e6465;
}

#featured-image {
	border-style: solid;
	border-color: #9daba6;
	border-width: 3px;
	margin: auto;
}

#sponsor img {
	border-style: solid;
	border-color: #9daba6;
	border-width: 3px;
	margin: auto;
}

#sponsor img:hover {
	border-style: solid;
	border-color: #76817d;
	border-width: 3px;
	margin: auto;
}

footer {
	text-align: right;
	color: #6f817c;
}
